@model GenericOnlineShop.Models.ProductModel;
@{
    //Html.ActionLink("To cart", "AddToCart", "Catalog", new { id = item.Id }, null)
}
<h1>@Model.ProductName</h1>
<div id="toCartHandler" class="container">
    @foreach (var item in Model.Products)
    {
        <div class="row py-2">
            <div class="col">
                <div class="p-2">
                    <p>@item.Name</p>
                    <p>@item.Price</p>
                </div>
            </div>
            <div class="col">
                <button name="toCart" class="p-2" value="@item.Id">
                    <p>To cart</p>
                </button>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/catalog.js"></script>
}