@model GenericOnlineShop.Models.CartModel
@{
    ViewData["Title"] = "Cart";
}
<h1>Your order</h1>
<div class="container">
    @foreach (var item in Model.Products)
    {
        <div class="row py-2">
            <div class="col">
                <div class="p-2 d-flex">
                    <p class="m-0 font-weight-bold">@item.Name</p>
                    <p class="m-0">@item.Price</p>
                </div>
            </div>
            <div class="input-number-wrapper col d-flex">
                <button class="input-number-button">+</button>
                <input class="input-number" type="number" min="1" step="1" value="1" />
                <button class="input-number-button">-</button>
            </div>
        </div>
    }
</div>
<div class="p-3">
    @Html.ActionLink("Purchase", "a", "b")
</div>

@section Scripts {
    <script src="~/js/cart.js"></script>
}