@model GenericOnlineShop.Models.UserButtonModel

<div id="accountButton">
    <a id="accountLink" href="@Model.Link">
        <img />
        <span id="accountLinkText">@Model.Name</span>
    </a>
</div>