body {
}

.category-button {
    height: 100%;
    background-color: transparent;
    border: 1px solid #1ed648;
    border-radius: 10px;
    color: #1ed648;
}

.svg-img {
    width: 100%;
    height: auto;
}

.logo-wrapper {
    width: 36px;
    height: 36px;
}

.category-img-wrapper {
    width: 24px;
    height: 24px;
}

.search {
    width: 100%;
    border: none;
    border-bottom: 1px solid #a7a7a7;
    font-size: 1.5rem;
}

.search-form-wrapper {
    height: 100%;
}

.category-popup-block {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.category-popup {
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid #1ed648;
    background-color: #ffffff;
    z-index: 100;
}

.popup-background-shade {
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000000;
    opacity: 0.72;
}

.category-link-wrapper {
    font-weight: bold;
}

.input-number {

}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: button;
}