@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>Home page</title>
    </head>
    <body>
        <label>Here is some random products and stuff.</label>
    </body>
</html>